
 <%- include('../layouts/header.ejs') %>

 <div class="container-lg mt-5">
   <h1 class="text-center">Welcome <%= user.name %></h1>
 
   <div class="row justify-content-center">
     <div class="col-md-4 text-center">
       <img src="userimages/<%= user.image %>" alt="<%= user.image %>" class="img-fluid rounded-circle" width="150px" height="150px">
     </div>
     <div class="col-md-8">
       <table class="table table-bordered">
         <tbody>
           <tr>
             <th>Email</th>
             <td><%= user.email %></td>
           </tr>
           <tr>
             <th>Mobile Number</th>
             <td><%= user.mobile %></td>
           </tr>
         </tbody>
       </table>
     </div>
   </div>
 
   <div class="row justify-content-center mt-4">
     <div class="col-md-4 text-center">
       <a href="/edit?id=<%= user._id %>" class="btn btn-primary">Edit Profile</a>
     </div>
   </div>
 
   <div class="row justify-content-center mt-2">
     <div class="col-md-4 text-center">
       <a href="/logout" class="btn btn-danger">Logout</a>
     </div>
   </div>
 </div>
 
 <%- include('../layouts/footer.ejs') %>
 